<html>
    <body>
        <table class="table table-dark">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">UDID</th>
                    <th scope="col">Beacon</th>
                    <th scope="col">Localização</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-style="{'background-color': isRiskArea(beacon.beaconId) ? '#f2dede' : ''}" scope="row" ng-repeat='beacon in beacons'>
                    <td>{{beacon.cellId}}</td>
                    <td>{{beacon.beaconName}}</td>
                    <td>{{beacon.beaconLocation}}</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>